<body class="container-fluid bg-info">
<div id="<%= dom_id client %> ">
  <tr class="container text-danger-emphasis">
    <th scope="row" class="bg-warning"><%= client.id %></th>
    <td class="text-danger-emphasis bg-warning"><%= client.name %></td>
    <td class="text-danger-emphasis bg-warning"><%= client.age %></td>
    <td class="text-danger-emphasis bg-warning"><%= client.movies.last %></td>
    <td class="text-danger-emphasis bg-warning"><%= link_to "Show this client", client %></td>
    <td class="text-danger-emphasis bg-warning"><%= link_to "Edit this client", edit_client_path(client) %></td>
  </tr>
</div>
</body>
